.coin-container {
  /*   border-style:dashed; */
  min-height: 30px;
  position: relative;
  padding: 2.5vh;
}
.coin .token {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.coin-container.silk .coin .token1 {
  background-image: url("../../assets/goodsTokens/silk-token1.png");
}
.coin-container.silk .coin .token2 {
  background-image: url("../../assets/goodsTokens/silk-token2.png");
}
.coin-container.silk .coin .token3 {
  background-image: url("../../assets/goodsTokens/silk-token3.png");
}
.coin-container.silk .coin .token5 {
  background-image: url("../../assets/goodsTokens/silk-token5.png");
}
.coin-container.spices .coin .token1 {
  background-image: url("../../assets/goodsTokens/spice-token1.png");
}
.coin-container.spices .coin .token2 {
  background-image: url("../../assets/goodsTokens/spice-token2.png");
}
.coin-container.spices .coin .token3 {
  background-image: url("../../assets/goodsTokens/spice-token3.png");
}
.coin-container.spices .coin .token5 {
  background-image: url("../../assets/goodsTokens/spice-token5.png");
}
.coin-container.leather .coin .token1 {
  background-image: url("../../assets/goodsTokens/leather-token1.png");
}
.coin-container.leather .coin .token2 {
  background-image: url("../../assets/goodsTokens/leather-token2.png");
}
.coin-container.leather .coin .token3 {
  background-image: url("../../assets/goodsTokens/leather-token3.png");
}
.coin-container.leather .coin .token4 {
  background-image: url("../../assets/goodsTokens/leather-token4.png");
}
.coin-container.silver .coin .token5 {
  background-image: url("../../assets/goodsTokens/silver-token.png");
}

.coin-container.gold .coin .token5 {
  background-image: url("../../assets/goodsTokens/gold-token5.png");
}
.coin-container.gold .coin .token6 {
  background-image: url("../../assets/goodsTokens/gold-token6.png");
}
.coin-container.diamond .coin .token5 {
  background-image: url("../../assets/goodsTokens/diamond-token5.png");
}
.coin-container.diamond .coin .token7 {
  background-image: url("../../assets/goodsTokens/diamond-token7.png");
}

.coin {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  margin-left: -4vh;
  font-size: 2vh;
  text-align: center;
  float: left;
  position: relative;
}
.coin:hover {
  z-index: 1;
}
.coin.first {
  margin-left: 0;
}